<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-linkdev-eclinic-plugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>EclinicPlugin</name>
    <js-module name="EclinicPlugin" src="www/EclinicPlugin.js">
        <clobbers target="EclinicPlugin" />
    </js-module>
    <platform name="android">
	 <framework src="src/android/Eclinic.gradle" custom="true" type="gradleReference" />
	 <framework src="com.android.support:appcompat-v7:+" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="EclinicPlugin">
                <param name="android-package" value="com.linkdev.eclinic.plugin.EclinicPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			
            <activity android:label="New Activity" android:name="com.linkdev.eclinic.plugin.NewActivity"></activity>
			  <activity android:label="Call Activity" android:name="com.linkdev.eclinic.plugin.EclinicCallActivity"></activity>
			
        </config-file>
		
        <config-file parent="/*" target="AndroidManifest.xml">
		
		 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
					 <uses-feature
    	android:glEsVersion="0x00020000"
    	android:required="true"/>
		<uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.back" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.audio.low_latency" />
		</config-file>
        <source-file src="src/android/EclinicPlugin.java" target-dir="src/com/linkdev/eclinic/plugin" />
        <source-file src="src/android/NewActivity.java" target-dir="src/com/linkdev/eclinic/plugin" />
		<source-file src="src/android/EclinicCallActivity.java" target-dir="src/com/linkdev/eclinic/plugin" />
        <source-file src="src/android/activity_new.xml" target-dir="res/layout"/>
		<source-file src="src/android/activity_ecliniccall.xml" target-dir="res/layout"/>
		<source-file src="libs/jcf-release.aar" target-dir="libs" />
		<source-file src="libs/sdk.aar" target-dir="libs" />
    </platform>
    
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="EclinicPlugin"><param name="ios-package" value="EclinicPlugin" /></feature>
        </config-file>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>This app needs access to the camera to make Video calls.</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSLocalNetworkUsageDescription">
            <string>This app needs access to the Network to make Video calls.</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>This app needs access to the icrophone to make Video calls.</string>
    </config-file>

		<framework src="src/ios/JabberGuest.framework" custom="true" embed="true" />
		
		<!-- <hook type="after_platform_add" src="hooks/embedframework/addEmbedded.js" /> -->
		<!-- Hook to embed iOS frameworks after ios platform added -->
	    <!-- <hook type="after_platform_add" src="hooks/embedframework/addEmbedded.js" /> -->
	<!-- Hook to embed iOS frameworks after installation -->
	    <hook type="before_plugin_install" src="hooks/embedframework/addEmbedded.js" />
		<hook type="after_plugin_install" src="hooks/AfterPluginInstall.js" />
        <!-- <hook type="before_plugin_uninstall" src="hooks/BeforePluginUninstall.js" /> -->

		<source-file src="src/ios/JabberGuest.framework" framework="true"   /> 
		<!-- <framework src="src/ios/JabberGuest.framework/Versions/A/JabberGuest" custom="true" embed="true" />  -->
		<!-- <framework src="src/ios/JabberGuest.framework/Versions/A/Headers" custom="true" /> -->
		
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/JabberGuest.h"  /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestVideoLicense.h"  /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestMediaStatistics.h"  /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestHelper.h"  /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestCallViewController.h" /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestCallSelfView.h"  /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestCallKeypadView.h"  /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestCallBarView.h"   /> -->
		<!-- <header-file src="src/ios/JabberGuest.framework/Versions/A/Headers/CJGuestCall.h" /> -->
		
		<resource-file src="src/ios/JabberGuest.framework/Versions/A/Resources/JabberGuest.bundle" />
        <source-file src="src/ios/EclinicPlugin.m"   />
        <source-file src="src/ios/FirstViewController.h" />
        <source-file src="src/ios/FirstViewController.m" />
        <resource-file src="src/ios/FirstViewController.xib"/>
		
    <source-file src="src/ios/MyGJController.h" target-dir="src/ios/" />
        <source-file src="src/ios/MyGJController.m" target-dir="src/ios/" />
<!--        <resource-file src="src/ios/SecondViewController.xib"/>-->
   
     <framework src="AVFoundation.framework" />
     <framework src="VideoToolbox.framework" />
      <framework src="AudioToolbox.framework" />
      <framework src="CoreMedia.framework" />
    <framework src="MediaPlayer.framework" />
    <framework src="QuartzCore.framework" />
    <framework src="Security.framework" />
    <framework src="CallKit.framework" />
    <framework src="libc++.dylib" />
    <framework src="libiconv.dylib" />
        <framework src="libresolv.dylib" />
    
    </platform>
</plugin>
